* {
    font-family: 'roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
  }

.header {
    display: flex;
    background-color: #1F2937;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    justify-content: space-between;
    padding: 0px 220px;
 
}

.header-container {
    display: flex;
    gap: 25px;
    color: #E5E7EB;
    size: 18px;
}

h3 {
    color: #faf9fa;
    size: 24px;

}

.section-1 {
    display: flex;
    background-color: #1F2937;
    height: 300px;
    width: auto;
    justify-content: space-between;

    padding: 75px 220px;

  
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #faf9fa;
    padding: 0px;
    margin: 0px;
}

.placeholder  {
    display: flex;
    background-color: darkgray;
    height: 250px;
    width: 520px;
    max-width: 530px;
    color: #faf9fa;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.section-1-text {
    display: flex;
    flex-flow: row wrap;
    height: 250px;
    max-width: 450px;
    padding: 0;
    margin: 0;
    flex: 1 1 0;
}

.section-1-button {
    border-radius: 10px;
    width: 130px;
    height: 40px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-color: #3882f6;
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
   
}

.empty-box {
    height: 200px;
    width: auto;
    border: 3px solid;
    border-color: #3882f6;
    border-radius: 10px;
}

.info-header {
    display: flex;
    justify-content: center; 
    margin: 20px 0px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.image-and-caption {
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    font-size: 18px;
    color: gray;
}

